<div id="pin_edit" class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-info">
			<div class="panel-heading pin_image">
			
					<h1>Edit Stock</h1>
					<%= image_tag @pin.image.url %>
				
			</div>
			<div class="panel-body">
				<%= render 'form' %>
			</div>
			<div class="panel-footer">
				<%= link_to 'View', @pin, class:"btn-margin btn btn-success btn-sm" %>
				<%= link_to 'Back', pins_path, class:"btn-margin btn btn-default btn-sm" %>
			</div>
		</div>
	</div>
</div>
